*{
    font-family: 'Roboto', sans-serif, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    height: 100vh;
}

.container{
    width: 60%;
    height: 85%;
    display: flex;
    justify-content: center;
}

.board{
    border: solid black 1px;
    width: 70%;
    height: 100%;

    display: flex;
}

.column{
    flex: 1;

    display: flex;
    flex-direction: column;
}

.row{
    border: solid blue 1px;
    flex: 1;
}