body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9DBBB;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

.header .select-button{
    width: 100px;
    height: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.board{
    background-color: white;
    height: 600px;
    width: 600px;
    margin:20px 15px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}
.buttons button{
    width: 100px;
    height: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}